<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR" th:fragment="conteudo">
<body>
<h1>Dashboard de Pagamentos</h1>
<table border="1" cellpadding="5" cellspacing="0">
    <thead>
    <tr><th>ID</th><th>Usuário</th><th>Valor</th><th>Data</th></tr>
    </thead>
    <tbody>
    <tr th:each="pagamento : ${pagamentos}">
        <td th:text="${pagamento.id}">1</td>
        <td th:text="${pagamento.usuario.nome}">Nome Usuário</td>
        <td th:text="${pagamento.valor}">0.00</td>
        <td th:text="${#dates.format(pagamento.dataPagamento, 'dd/MM/yyyy')}">01/01/2025</td>
    </tr>
    </tbody>
</table>
</body>
</html>
